CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -Wpedantic

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - portability-*
    Remove:
      - bugprone-easily-swappable-parameters

Completion:
  AllScopes: Yes
  HeaderInsertion: IWYU

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes
